*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    max-height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:midnightblue;
}
.name{
    margin: 30px 0px 30px 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:blanchedalmond;
    font-style: italic;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-right: 100px;
}
nav ul li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
nav ul a:hover{
    color:burlywood;
}
a{
    text-decoration: none;
    color: blanchedalmond;
}
.main{
    background-color:darkslateblue;
}
.article1{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: blanchedalmond;
    padding: 50px 0px;
}
.content{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
}
.article2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: blanchedalmond;
}
.article3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: blanchedalmond;
}
.article4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: blanchedalmond;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color:midnightblue;
    padding: 30px 0px;
}
.date{
    color:blanchedalmond;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: italic;
}